.btn
    &__enter 
        width: 150px
        // height: 30px
        // background-color: rgba(187, 187, 187, 0.4)
        // box-shadow: 0 2px 32px 0 rgba( 187, 187, 187, 0.37 )

        background-color: rgb(178, 64, 255)
        box-shadow: 0 2px 32px 0 rgba( 178, 64, 255, 0.37 )
        backdrop-filter: blur( 4px )
        border: none
        color: white
        font-family: 'Roboto', sans-serif
        font-weight: 700
        font-size: 25px
        border-radius: 10px
        text-transform: uppercase
        padding: 10px 6px
        transition: all .3s
        // color: rgb(178, 64, 255)
        &:hover
            // background-color: rgb(178, 64, 255)
            // box-shadow: 0 2px 32px 0 rgba( 178, 64, 255, 0.37 )
            color: white
            background-color: rgb(66, 75, 255)
            box-shadow: 0 2px 32px 0 rgba( 66, 76, 255, 0.37 )           
            padding: 10px 6px
            border-radius: 10px

